@charset "UTF-8";



table, th, td {
	border: 1px solid black;
	
}

body {
	background: url("../pictures/movietheme.gif");
	background-color: white;
	background-size: cover;
	margin: 30px;
}


.horizontal-center {
	text-align: center;
	margin: 5px;
	
}

div.tab {
  padding: 50px;
  height: 250px;
  width: 30%;
  margin: auto;
  background-color: #ffe34e;
  box-shadow: 40px 40px #cd04df, -40px -40px #42a8ff;
  
}

.vertical-center-element {
	padding-top: 20%;
}

div.tab img {
	width: 50px;
}

.table-css {
  padding:40px;
  width: 80%;
  background-color:#ffe34e;
  box-shadow: 40px 40px #cd04df, -40px -40px #42a8ff;
  margin:auto;
  margin-top:10%;
  
}





